<a href="https://colab.research.google.com/github/Danielkr0l/datascience/blob/main/pandas/laczenie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
def wczytaj_dane(company = 'AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name = company, data_source = 'stooq')
apple = wczytaj_dane('AAPL')
amazon = wczytaj_dane('AMZN')
google = wczytaj_dane('GOOGL')
uber = wczytaj_dane('UBER')

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 949 entries, 2023-02-14 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    949 non-null    float64
 1   High    949 non-null    float64
 2   Low     949 non-null    float64
 3   Close   949 non-null    float64
 4   Volume  949 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 44.5 KB

In [5]:
apple.head()

               Open      High      Low   Close      Volume
Date
2023-02-14  152.120  153.7700  150.860  153.20  61707573.0
2023-02-13  150.952  154.2600  150.920  153.85  62199013.0
2023-02-10  149.460  151.3401  149.220  151.01  57450708.0
2023-02-09  153.775  154.3300  150.420  150.87  56007143.0
2023-02-08  153.880  154.5800  151.168  151.92  64120079.0

In [6]:
apple.columns = ['apple_'+col.lower() for col in apple.columns]
amazon.columns = ['amazon_'+col.lower() for col in amazon.columns]
google.columns = ['google_'+col.lower() for col in google.columns]
uber.columns = ['uber_'+col.lower() for col in uber.columns]

In [7]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-02-14      33.11    35.3600   32.7239       35.23     38856463
2023-02-13      34.50    34.5200   33.3500       33.44     35043744
2023-02-10      34.40    35.3986   34.0500       34.30     41936379
2023-02-09      36.89    37.3600   35.6500       35.89     44068509
2023-02-08      37.43    37.5800   34.5000       36.83    109597829

In [10]:
connect = pd.concat(objs=[apple,amazon,google,uber], axis = 1)
connect.head()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2018-02-16,41.1435,41.7287,40.9990,41.1584,1.680855e+08,72.8685,73.2900,72.3280,72.4345,89286380,54.6690,55.4155,54.5775,54.7750,39863040,NaN,NaN,NaN,NaN,NaN
2018-02-20,41.0668,41.5931,40.9162,41.0189,1.420001e+08,72.3245,74.4385,72.3245,73.4180,129663200,54.6380,55.8145,54.5000,55.1795,33741300,NaN,NaN,NaN,NaN,NaN
2018-02-21,41.2542,41.5583,40.8165,40.8305,1.566260e+08,74.2500,75.1745,73.9460,74.1460,125436800,55.4550,56.8100,55.3755,55.6875,41438940,NaN,NaN,NaN,NaN,NaN
2018-02-22,41.0069,41.5193,40.9850,41.1754,1.296853e+08,74.7680,75.1270,73.7880,74.2670,96136760,55.9585,56.2730,55.2575,55.4950,27975540,NaN,NaN,NaN,NaN,NaN
2018-02-23,41.4515,41.9281,41.4217,41.8942,1.415387e+08,74.7670,75.0000,74.3250,75.0000,88144160,55.9330,56.4500,55.4220,56.4045,25261680,NaN,NaN,NaN,NaN,NaN

In [14]:
pd.set_option('display.float_format', lambda x: f'{x: .2f}')
connect.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,99.22,46.27,34.74,50.53,108.91,142.70,181.58
apple_high,1257.00,100.45,46.88,35.16,50.90,110.68,144.86,181.88
apple_low,1257.00,98.07,45.67,34.26,50.08,107.23,141.30,178.09
apple_close,1257.00,99.31,46.30,34.31,50.52,108.85,143.21,180.96
apple_volume,1257.00,117137657.10,55556702.02,35195860.00,79603673.88,102116345.53,138624562.77,434708544.96
amazon_open,1257.00,120.68,34.86,67.30,89.65,108.11,158.34,187.20
amazon_high,1257.00,122.14,35.23,69.80,90.30,110.99,159.94,188.65
amazon_low,1257.00,119.05,34.44,65.35,88.64,106.37,156.25,184.84
amazon_close,1257.00,120.61,34.79,67.20,89.61,108.44,158.10,186.57
amazon_volume,1257.00,85599952.49,39510331.55,17626740.00,58932360.00,74391980.00,101124700.00,311345660.00
google_open,1257.00,86.68,30.46,49.22,59.32,75.66,112.64,151.25
google_high,1257.00,87.66,30.75,50.61,59.94,76.30,114.01,151.55
google_low,1257.00,85.71,30.10,48.88,58.68,74.95,111.46,148.90
google_close,1257.00,86.70,30.42,49.23,59.47,75.67,112.72,149.84
google_volume,1257.00,35292205.34,15940214.21,9312760.00,25153400.00,31436600.00,40286400.00,133177100.00
uber_open,949.00,37.24,9.79,15.96,29.74,34.75,44.16,63.25
uber_high,949.00,38.01,9.87,17.80,30.42,35.36,44.80,64.05
uber_low,949.00,36.40,9.64,13.71,29.14,33.94,43.38,60.80
uber_close,949.00,37.21,9.73,14.82,29.75,34.70,43.99,63.18
uber_volume,949.00,25609124.31,16664587.61,3380003.00,15729172.00,21852813.00,30762551.00,186322536.00

In [16]:
connect.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.36,0.76,0.77,0.76,0.76,-0.29,0.92,0.93,0.92,0.92,-0.12,0.08,0.09,0.09,0.08,0.11
apple_high,1.00,1.00,1.00,1.00,-0.35,0.76,0.77,0.76,0.76,-0.28,0.92,0.93,0.92,0.92,-0.11,0.08,0.08,0.08,0.08,0.12
apple_low,1.00,1.00,1.00,1.00,-0.36,0.77,0.77,0.76,0.76,-0.29,0.93,0.93,0.93,0.93,-0.12,0.09,0.09,0.09,0.09,0.11
apple_close,1.00,1.00,1.00,1.00,-0.36,0.76,0.77,0.76,0.76,-0.29,0.93,0.93,0.92,0.93,-0.12,0.08,0.09,0.08,0.08,0.11
apple_volume,-0.36,-0.35,-0.36,-0.36,1.00,-0.21,-0.20,-0.22,-0.21,0.57,-0.40,-0.40,-0.41,-0.41,0.46,-0.18,-0.17,-0.19,-0.18,0.23
amazon_open,0.76,0.76,0.77,0.76,-0.21,1.00,1.00,1.00,1.00,-0.25,0.79,0.79,0.79,0.79,-0.15,0.59,0.59,0.59,0.59,-0.04
amazon_high,0.77,0.77,0.77,0.77,-0.20,1.00,1.00,1.00,1.00,-0.24,0.79,0.79,0.79,0.79,-0.14,0.58,0.58,0.58,0.58,-0.04
amazon_low,0.76,0.76,0.76,0.76,-0.22,1.00,1.00,1.00,1.00,-0.26,0.79,0.79,0.79,0.79,-0.16,0.60,0.60,0.60,0.60,-0.05
amazon_close,0.76,0.76,0.76,0.76,-0.21,1.00,1.00,1.00,1.00,-0.25,0.79,0.79,0.79,0.79,-0.15,0.59,0.59,0.59,0.59,-0.04
amazon_volume,-0.29,-0.28,-0.29,-0.29,0.57,-0.25,-0.24,-0.26,-0.25,1.00,-0.32,-0.31,-0.33,-0.32,0.55,-0.17,-0.17,-0.19,-0.18,0.24
google_open,0.92,0.92,0.93,0.93,-0.40,0.79,0.79,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.15,0.24,0.24,0.24,0.24,0.10
google_high,0.93,0.93,0.93,0.93,-0.40,0.79,0.79,0.79,0.79,-0.31,1.00,1.00,1.00,1.00,-0.15,0.23,0.24,0.24,0.23,0.10
google_low,0.92,0.92,0.93,0.92,-0.41,0.79,0.79,0.79,0.79,-0.33,1.00,1.00,1.00,1.00,-0.17,0.25,0.25,0.25,0.25,0.09
google_close,0.92,0.92,0.93,0.93,-0.41,0.79,0.79,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.16,0.24,0.24,0.24,0.24,0.10
google_volume,-0.12,-0.11,-0.12,-0.12,0.46,-0.15,-0.14,-0.16,-0.15,0.55,-0.15,-0.15,-0.17,-0.16,1.00,-0.16,-0.15,-0.17,-0.16,0.28
uber_open,0.08,0.08,0.09,0.08,-0.18,0.59,0.58,0.60,0.59,-0.17,0.24,0.23,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.22
uber_high,0.09,0.08,0.09,0.09,-0.17,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.19
uber_low,0.09,0.08,0.09,0.08,-0.19,0.59,0.58,0.60,0.59,-0.19,0.24,0.24,0.25,0.24,-0.17,1.00,1.00,1.00,1.00,-0.24
uber_close,0.08,0.08,0.09,0.08,-0.18,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.21
uber_volume,0.11,0.12,0.11,0.11,0.23,-0.04,-0.04,-0.05,-0.04,0.24,0.10,0.10,0.09,0.10,0.28,-0.22,-0.19,-0.24,-0.21,1.00

In [18]:
connect.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [21]:
closes = [col for col in connect.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [23]:
connect[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.76          0.93        0.08
amazon_close         0.76          1.00          0.79        0.59
google_close         0.93          0.79          1.00        0.24
uber_close           0.08          0.59          0.24        1.00

Metoda **append**

In [25]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2022)]
uber_7 = uber[(uber.index.month == 7) & (uber.index.year == 2022)]

In [26]:
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-01      23.53      23.87     22.57       22.94     26383612

In [29]:
uber_67 = uber_6.append(uber_7)
uber_67

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-01      23.53      23.87     22.57       22.94     26383612
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
2022-07-22      24.33      24.81     23.09       23.30     20209442
2022-07-21      24.02      24.25     23.60       24.23     18425364
2022-07-20      22.89      24.22     22.80       24.12     27844618
2022-07-19      22.75      23.08     22.19       22.67     23148938
2022-07-18      22.17      23.20     22.11       22.58     30935860
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-11      21.95      22.25     21.14       21.19     17562117
2022-07-08      22.43      22.96     21.83       22.34     20231300
2022-07-07      21.64      22.76     21.61       22.74     23121886
2022-07-06      21.50      22.08     21.32       21.50     32689429
2022-07-05      21.17      22.55     20.83       22.52     24515795
2022-07-01      20.70      21.37     20.43       21.34     20693312